@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');


$xlarge-text: 5.1vw; //70px
$large-text: 4vw; //55px
$medium-text: 3.3vw; //45px
$small-text: 1.7vw; //24px
$msmall-text: 1.3vw; //18px
$xsmall-text: 1.1vw; //16px
$button-text: 1.5vw; //20px
// font-size

$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
//font-weight

$button-color: #EF83FF;
$big-text-color: #060C55;
$small-text-color: #4A4C6D;
$box-gradient: linear-gradient(315deg, #EE9AB3 0.25%, #5961F9 100%);
// colors

@mixin customButton() {
    /* Styles for the button */
    width: 17.4vw;
    height: 10.80669710806697vh;
    padding: 14px 19px;
    background-color: $button-color;
    color: #ffff;
    text-align: center;
    text-decoration: none;
    border-radius: 9px;
    // display: inline-block;
    font-size: $button-text;
    font-weight: $semibold;
    border: 1px solid transparent;
    cursor: pointer;
    @content;
    transition: background-color 0.3ms, border 0.3s;



    /* Styles for the button on hover */
    &:hover {
        background-color: transparent;
        border: 1px solid #ffff;
        @content;
    }
}

//reusable code


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

header {
    display: flex;
    flex-direction: column;

    nav {

        display: flex;
        padding: 0 5vw;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;

            li {
                padding: 15%;
                list-style-type: none;

                a {
                    color: $big-text-color;
                    font-size: $msmall-text;
                    font-weight: $medium;
                    text-decoration: none;
                }
            }
        }

        .logo_menu,
        .lang_button,
        .lang {
            display: flex;
            align-items: center;
        }

        .lang {
            padding-right: 15px;

            img {
                padding-right: 10%;
            }

            span {
                font-size: $msmall-text;
                font-size: $regular;
            }
        }

        .common_button {
            @include customButton() {
                color: $small-text-color;
                width: 10.5vw;
                height: 8.7vh;
                padding: 2% 0;
                font-size: $button-text;
                border-radius: 9px;
                border: 1px solid $big-text-color;
                background: rgba(217, 217, 217, 0.00);

                &:hover {
                    color: #ffffff;
                    background-color: $button-color;
                    border: 1px solid #ffff;
                }
            }
        }
    }

    .intro {
        width: 91.7vw;
        height: 83.71385083713851vh;
        display: flex;
        align-items: center;
        align-self: center;
        overflow: hidden;
        border-radius: 44px 44px 176px 44px;
        background: linear-gradient(315deg, #EE9AB3 0.25%, #5961F9 100%);

        .intro_content {
            display: flex;
            flex-direction: column;
            margin-left: 2%;
            z-index: 1;

            h1 {
                width: 50vw;
                color: #ffff;
                font-size: $xlarge-text;
            }

            p {
                width: 32vw;
                color: #ffff;
                font-size: $xsmall-text;
                font-weight: $regular;
            }

            .intro_button {
                margin-top: 3%
            }

            .common_button {
                @include customButton();
            }

            .intro_button_second {
                margin-left: 5%;
            }
        }

        .intro_img {
            height: 100vh;
            width: 47.6vw;

            img{
                width: 100%;
            }
        }
    }
}

//CSS for introduction section ends here.

.admire {
    height: 73vh;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;

    .admire_content {

        h3 {
            color: $big-text-color;
            line-height: 130%;
            font-size: $medium-text;
        }

        p {
            color: $small-text-color;
            font-size: $xsmall-text;
        }
    }

    .middle {
        margin-top: auto;
    }

    .admire_box {
        width: 20vw;
        height: 63.470319634703195vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 60px;
        background: #FFF;
        box-shadow: 0px 10px 50px 0px rgba(238, 154, 229, 0.25);

        .one{
            width: 11vw;

            img{
                width: 100%;
            }
        }

        .two{
            width: 17.3vw;

            img{
                width: 100%;
            }
        }

        .three{
            width: 16.3vw;
            
            img{
                width: 100%;
            }
        }
        h4 {

            color: $big-text-color;
            align-self: flex-start;
            margin-left: 15%;
            font-size: $small-text;
            font-weight: $bold;
        }

    }
}

// admire section ends here.

.our_selves {
    background: rgba(191, 136, 235, 0.05);

    .our_info {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;

        .our_content {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        h3 {
            color: $big-text-color;
            font-size: $large-text;
            font-weight: $bold;
            line-height: 130%;

            span {
                color: $button-color;
            }
        }

        p {
            font-size: $xsmall-text;
        }

        button {
            @include customButton() {
                &:hover {
                    color: $button-color;
                    background-color: transparent;
                    border: 1px solid $big-text-color;
                }
            }
        }
    }
}

// ourselves section ends

.price {
    margin-top: 5%;

    .price_header {
        text-align: center;

        h3 {
            color: $big-text-color;
            font-size: $medium-text;
            font-weight: $bold;
        }

        p {
            font-size: $xsmall-text;
            font-weight: $regular;
        }
    }

    .price_whole {
        display: flex;
        justify-content: space-evenly;

        .price_box {
            width: 353px;
            height: 731px;
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            border-radius: 60px;
            background: #FFF;
            box-shadow: 0px 4px 50px 0px rgba(238, 154, 229, 0.25);

            .price_content_header {
                text-align: center;

                h2 {
                    color: $big-text-color;
                    font-size: $medium-text;
                }

                p {
                    font-size: $xsmall-text;
                    font-weight: $regular;
                }
            }

            p {
                text-align: center;

                span:first-child {
                    color: $button-color;
                    font-size: $xlarge-text;
                    font-weight: $bold;
                }
            }

            ul {

                li {
                    display: flex;
                    align-items: center;
                    color: $small-text-color;
                    font-size: $button-text;
                    font-weight: $medium;
                    text-align: left;
                    margin-top: 10%;

                    img {
                        margin-right: 5%;
                    }
                }

                li:last-child {
                    align-items: flex-start;
                }
            }

            button {
                display: block;
                margin: auto;
                margin-top: 10%;

                @include customButton() {
                    &:hover {
                        color: $button-color;
                        background-color: transparent;
                        border: 1px solid $big-text-color;
                    }
                }
            }
        }
    }

}

// price section ends

.online {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    .online_box {
        width: 90%;
        height: 393px;
        border-radius: 53px;
        background: linear-gradient(315deg, #EE9AE5 0.25%, #5961F9 100%), #D9D9D9;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .online_content {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h2 {
                color: #FFF;
                font-size: $medium-text;
                font-weight: $bold;
                line-height: 130%;
            }

            p {
                color: #FFF;
                font-size: $xsmall-text;
            }
        }

        button {
            @include customButton();
        }


    }
}


.notification-container {
    border-radius: 10px;
    background: linear-gradient(90deg, #FAFAFA 0%, #FFFFFA 100%);
    box-shadow: 0px 4px 18px 1px rgba(236, 255, 117, 0.25);
    padding: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #000;
    border: 1px solid #000;
    font-size: $msmall-text;
    font-weight: 500;
    display: none;
    animation: slideIn 0.5s ease-out;
    /* Add the sliding animation */

    .flex {
        display: flex;
        align-items: center;

        img {
            width: 30px;
            height: 30px;
        }

        span {
            display: inline-block;
            // margin-left: 1%;
        }
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

//notification